
NEXT_PUBLIC_SUPABASE_URL=https://jwsgdktjkltknpywganx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_y27T9yJgQp_Bc0_-hVBGZg_tffo649c

NEXT_PUBLIC_APP_URL=http://localhost:3000

# H0db11LizE6qjo60

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=articles